{# Load CSS and JavaScript for bootstrap #}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django App Template</title>
</head>
<body>
    <div class="container" style="margin: auto; width: 100%;">
        <div id="header" class="row border-bot-1-light" style="margin: auto; width: 100%; height: 100px;">
            
            <div class="col-10">
                {% load static %}
                <img src="{% static 'backend/nleyetn_logo.jpg' %}#logo" height="100">
            </div>
            
            <div class="col text-right">
                <a href="{% url 'backend:index' %}">
                    <img src="{% static 'backend/home_icon.svg' %}#logo" alt="Home" height="50">
                </a>
                
                <a href="{% url 'backend:settings' %}">
                    <img src="{% static 'backend/settings_icon.svg' %}#logo" alt="Settings" height="50">
                </a>
            </div>
        </div>

        <div id="body" class="row mt-5" style="margin: auto; width: 100%;">
            {% block content %}{% endblock %}
        </div>

    </div>
</body>
</html>
